@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaper-root {
  margin: 0px !important;
  border-radius: 0.5rem !important;
}

.MuiStack-root {
  padding: 0px !important;
}

.MuiInputBase-input {
  padding: 8.5px !important;
}

.MuiOutlinedInput-notchedOutline {
  display: none !important;
}
