@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaper-root {
  margin: 0px !important;
  border-radius: 0.5rem !important;
}

.MuiStack-root {
  padding: 0px !important;
}

.MuiInputBase-input {
  padding: 8.5px !important;
  height: 100% !important;
}

.MuiOutlinedInput-notchedOutline {
  display: none !important;
}

.MuiInputBase-root {
  height: 100% !important;
  color: inherit !important;
  font-size: inherit !important;
}

.MuiInputAdornment-root {
  color: inherit !important;
}

.MuiButtonBase-root {
  color: inherit !important;
}

.MuiDialog-paper {
  max-width: max-content !important;
}

.bg-gray-30 {
  background-color: #ebf0f5;
}

.apexcharts-title-text {
  fill: goldenrod;
}

.f-carousel {
  margin: 0 auto;
}

.f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-carousel__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
